container {
    overflow: hidden;
}

.jumbotron {
    text-align: center;
    font-family: lemon_milk;
    margin-left: -70px;
    margin-right: -70px;
}

.picture {
    padding-top: 15px;
    padding-bottom: 15px;
}

.question {
    text-align: center;
    font-size: 2.7em;
    padding-top: 1.3em;
    padding-bottom: .5em;
}

img {
    max-height: 100%;
    max-width: 100%;
}

@font-face {
    font-family: lemon_milk;
    src: url(fonts/lemon_milk/LemonMilk.otf);
}
